@mixin text-paragraf {
    font-family: $font--main;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.59px;
    color: #fafafa;
}

@mixin text-title {
    font-family: $font--main;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 5;
    letter-spacing: 0.22px;
    color: #ff8673;
}


