$color--background: #fafafa;
$color--nav: #394951;
$color--heading1: #ff8673;
$color--headign2: #9d5c5f;
$color--font1: #000000;
$color--font2: #ffffff;
$color--footer-nav: #fafafa;

$font--main: "Poppins", sans-serif;
$font--logo: "Unica One", cursive;
